:root{
    --cor-principal: rgba(5, 0, 3, 1);
    --cor-secundaria-1:#55B2F0;
    --cor-secundaria-2:#F04E4D;
    --cor-secundaria-3:#F0EE54;
    --cor-detalhe-1: #1E6B9E;
}

button{
    width: 19.688rem;
    height: 4.438rem;
    border-radius: 30px;
    border: none;
    margin-top: 2rem;
    margin-bottom: 1rem;

    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: 600;
    
    background-color: var(--cor-secundaria-1);
}

button:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho */
}

button:hover{
    cursor: pointer;
    background-color: var(--cor-detalhe-1);
}