:root{
    --cor-principal: rgba(5, 0, 3, 1);
    --cor-secundaria-1:#55B2F0;
    --cor-secundaria-2:#F04E4D;
    --cor-secundaria-3:#F0EE54;
    --cor-detalhe-1: #1E6B9E;
}

.form{
    width: 70%;
    margin-top: 3rem;
    justify-self: center;
    display: flex;
    flex-direction: column;

    font-family: 'Madimi One', sans-serif;
}

.form-titulo{
    text-align: center;
    color: var(--cor-principal);
    font-size: 64px;
}

.campo-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.campo-container > div:nth-child(1),
.campo-container > div:nth-child(2) {
    width: 95%;
    grid-column: 1 / -1; /* Os dois primeiros inputs ocupam a linha inteira */
}

.campo-container > div:nth-child(3),
.campo-container > div:nth-child(4) {
    grid-column: span 1; /* Os dois últimos inputs ocupam uma coluna cada */
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    
}

.link-alternativo{
    color: var(--cor-principal);
    text-decoration: none;
    cursor: pointer;
}

.link-alternativo:hover{
    color: var(--cor-detalhe-1);
}

@media (min-width: 1024px){
    .form{
        max-width: auto;
    }
}